<!-- navbar start -->
<nav class="navbar bg-light shadow-sm">
    <div class="container-lg">
      <a class="navbar-brand text-danger fw-bold fs-4" href="#">J.K</a>
      <div class="dropdown">
        <button class="btn btn-danger px-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Home</a></li>
          <li><a class="dropdown-item" href="#">About</a></li>
          <li><a class="dropdown-item" href="#">Services</a></li>
          <li><a class="dropdown-item" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- navbar end -->

<!-- Home Section Start -->
<section class="home">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6">
        <div class="home-img">
          <img src="assets/images/testprofile.png" alt="profile img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="home-text">
          <p>Hello I'm</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home Section End -->